body {
  overflow-x: hidden;
}

/* Sidebar styling */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

.content {
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
}

@media (min-width: 992px) {
  .sidebar {
    transform: translateX(0);
  }

  .content {
    margin-left: 250px;
  }
}



.nav-link {
  cursor: pointer;
}

.caret {
  font-size: 0.8rem;
  transition: transform 0.2s;
}

.collapse.show+.caret,
[aria-expanded="true"] .caret {
  transform: rotate(180deg);
}

.coords{
  border-radius: 8px;
  margin: 2px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 1px;
  background-color: red;
}